/*
If you are reusing
https://peter-kehl.github.io/present_on_github_with_reveal.js/README_NAVIGATION.md in other
presentations, you can hide any of the following CSS classes, if not used:
- tours,
- bookmarks,
- videos and
- vs_code_github_dev

with CSS: {display: none !important;}
*/
.reveal p {
    text-align: left;
}
.reveal ul {
    display: block;
    flex-wrap: wrap !important;
}
.reveal ol {
    display: block;
    flex-wrap: wrap !important;
}
/** TODO remove hide_with_reveal_js if not used*/
.hide_with_reveal_js {
    display: none !important;
}
/** Thanks to https://stackoverflow.com/a/47703337/1049315 */
@media (hover: hover) and (pointer: fine) {
    /* We are on a computer. Hide our mobile-specific content: */
    .only_on_mobile {
        display: none !important;
    }
}
@media not all and (hover: hover) and (pointer: fine) {
    /* We are on a mobile. Hide our computer-specific content: */
    .only_on_computer {
        display: none !important;
    }
}
@media (orientation: landscape) {
    .only_on_portrait {
        display: none !important;
    }
}
section {
    overflow-y: scroll !important;
    overflow-x: hidden !important;

    /* Don't use fixed "height". Do have "bottom: 0px" */
    height: 100%;
    bottom: 0px;
}

.only_in_firefox_list_item {
    display: none;
}

/* Thanks to https://www.geeksforgeeks.org/targeting-only-firefox-with-css */
@-moz-document url-prefix() {
    .only_in_firefox_list_item {
        display:list-item;
    }
}

/*
Contrary to online tips, neither of the following two differentiates Chrome from Firefox 105. Hence
we use .only_in_chrome instead (and we activate it in script.js).

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {

    .only_in_chrome_list_item {...}
}

@supports (-webkit-appearance:none) {

    .only_in_chrome_list_item{...}
}
*/
