/*
If you are reusing
https://peter-kehl.github.io/present_markdown_reveal.js/README-NAVIGATE-SLIDES.md in other
presentations, you can hide any of the following CSS classes, if not used:
- tours,
- bookmarks,
- videos and
- vs_code_github_dev

with CSS: {display: none !important;}
*/
.reveal p {
    text-align: left;
}
.reveal ul {
    display: block;
    flex-wrap: wrap !important;
}
.reveal ol {
    display: block;
    flex-wrap: wrap !important;
}
/** TODO remove hide_with_reveal_js if not used*/
.hide_with_reveal_js {
    display: none !important;
}
/** Thanks to https://stackoverflow.com/a/47703337/1049315 */
@media (hover: hover) and (pointer: fine) {
    /* We are on a desktop/computer. Hide our mobile-specific content: */
    .only_on_mobile {
        display: none !important;
    }
}
@media not all and (hover: hover) and (pointer: fine) {
    /* We are on a mobile. Hide our computer-specific content: */
    .only_on_desktop {
        display: none !important;
    }
}
@media (orientation: landscape) {
    .only_on_portrait {
        display: none !important;
    }
}
section {
    overflow-y: scroll !important;
    overflow-x: hidden !important;

    /* Don't use fixed "height". Do have "bottom: 0px" */
    height: 100%;
    /** Increasing `bottom` had no effect on fixing (showing) the last one-two lines on mobile.  */
    bottom: 0px;
}

.only_in_firefox_list_item {
    display: none;
}

/* Thanks to https://www.geeksforgeeks.org/targeting-only-firefox-with-css */
@-moz-document url-prefix() {
    .only_in_firefox_list_item {
        display:list-item;
    }
}

/** 
    Used for hidden first header per slide, whose label/name is used for Reveal.js menu (shown with
    'm' key).

    Keep those header labels/names same as <!-- .slide: id="ID_here_that_shows_in_slide_URL" -->
*/
.header_only_for_menu {
    display: none;
}

/*
Contrary to online tips, neither of the following two differentiates Chrome from Firefox 105. Hence
we use .only_in_chrome instead (and we activate it in script.js).

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {

    .only_in_chrome_list_item {...}
}

@supports (-webkit-appearance:none) {

    .only_in_chrome_list_item{...}
}
*/

/*
   Hiding the following from the help menu (shown by question mark ? key), because we disable them
   in script.js. See script.js for more explanation.
*/
.overlay-help table tr:nth-of-type(7)  /* ↑ , K* /,
.overlay-help table tr:nth-of-type(8)  /* ↓ , J */,
.overlay-help table tr:nth-of-type(10) /* Shift + ←/↑/→/↓ */
{
    display: none !important;
}
